# Инструменты для оперативной работы с данными в Python

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

PATH = 'names/'

In [17]:
names_1880 = pd.read_csv(PATH + 'yob1880.txt', names=['Name','Gender','Count']).head(10)

In [18]:
print(names_1880)

        Name Gender  Count
0       Mary      F   7065
1       Anna      F   2604
2       Emma      F   2003
3  Elizabeth      F   1939
4     Minnie      F   1746
5   Margaret      F   1578
6        Ida      F   1472
7      Alice      F   1414
8     Bertha      F   1320
9      Sarah      F   1288